/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* basic template styling*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    scrollbar-color: #eb1616;
    scroll-behavior: smooth;
}
body{
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
    background-color: black;
}
section{
    min-height:100vh;
    padding:0;
    margin:0;
}
/* Nav Bar Styling*/

#mob-navbar{
    display: none;
}
.overlay{
    display: none;
}
#mob-navbar{
    transition:0.3s all ease;
    float:right;
    display:none;
    cursor: pointer;
    margin-right:2rem;
}
#hamburger {
    opacity: 0.5;
    position:fixed;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
    display: flex;
    align-items: center;
    z-index: 9;
  }
  
  #hamburger:hover {
    opacity: 1;
  }
  
  #hamburger div,
  #hamburger div:after,
  #hamburger div:before {
    background-color: #fafafa;
    border-radius: 10px;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
    transition: all 0.15s linear;
  }
  
  #hamburger div:before,
  #hamburger div:after {
    content: "";
    position: absolute;
  }
  
  #hamburger div:before {
    transform: translateY(-200%);
  }
  
  #hamburger div:after {
    transform: translateY(200%);
  }
  
  #hamburger.open div {
    background: transparent;
  }
  
  #hamburger.open div:before {
    transform: rotate(45deg);
  }
  
  #hamburger.open div:after {
    transform: rotate(-45deg);
  }
  
  #overlay {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: #1a1a1a;
    z-index: 2;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #overlay.menu {
    transform: translateY(0%);
  }
  
  #overlay a {
    text-decoration: none;
    color: #fafafa;
    font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
    margin: 2%;
    opacity: 0.5;
    transition: opacity 0.2s linear;
  }
  
  #overlay a:hover {
    opacity: 1;
  }

.navbar{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    left:-38.781rem;
    overflow: hidden;
    z-index: 9;
    transition:0.3s all ease;
}
.navbar-fs{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    left:-36.781rem;
    overflow: hidden;
    z-index: 9;
    transition:0.3s all ease;
}
.navbar-onclick{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    left:-40.781rem;
    overflow: hidden;
    z-index: 9;
    transition:0.3s all ease;
}
.show-all{
    margin-left:2rem;
    cursor: pointer;
    transition:0.3s all ease-in-out;
    background-color:#ffeded;
    border-radius: 50%;
}

.show-all:hover{
    background-color:rgb(252, 225, 225);
}
.show-all-fs{
    margin-left:6rem;
    cursor: pointer;
    transition:0.3s all ease-in-out;
    background-color:#ffeded;
    border-radius: 50%;
}
.show-all-fs:hover{
    background-color:rgb(252, 225, 225);
}
.circle{
    height: 46.938rem;
    width:46.938rem;
    background-color: #ffeded;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition:0.3s all ease;
}
.circle-fs{
    height: 52rem;
    width:52rem;
    background-color: #ffeded;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    transition:0.3s all ease;
}
.icons-list-fs{
    margin-left:35rem;
    list-style-type: none;
}

.circle .icons-list{
    margin-left:37rem;
    list-style-type: none;
}
.icons-list img{
    height:2rem;
}
.btn{
    display: flex;
}

.btn a{
    text-decoration: none;
}
.flxbox2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#212121;
    padding:0;
}
.icon-desc{
    display:none;
    padding:0;
    display:flex;
    text-align: center;
}

/* Homepage styling */
/* #particles-js{
    position:absolute;
    opacity:50%;
    z-index: -1;
} */

.superParent{
    /* background:url('./images/background.gif');
    background-repeat: repeat;
    background-size: cover; */
    height:auto;
    /* display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
#Home-Page{
    height:auto;
    /* background-color: #212121; */
    background:url('../images/spark1.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    animation:a3 infinite linear alternate;
}
@keyframes a3 {
    100%{background-position:10vw;}
    
}
.wrapper{
    display:flex;
    width:auto; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
section{
    scroll-snap-align: start;
}
/* ssit logo positioning */
.ssit-logo{
    /* width:100%; */
    /* margin-right:3.4rem; */
    padding-top:2rem;
}
.ssit-logo img{
    /* float:right; */
    width:8.5rem;
}
.h4c-logo{
    margin-left:4.4rem;
    /* padding-top:2rem; */
    display:none;
}
.h4c-logo img{
    float:left;
    height:auto;
    width:5.5rem;
}

/* heading styling and positioning */
.heading{
    margin-left:5.7rem;
    /* margin-top:auto; */
    display:flex;
    align-items: center;
    justify-content: center;
    /* display:flex;
    flex-direction: column;
    align-items:center; */
}
.before-title{
    margin-top:4rem;
    width: fit-content;
    letter-spacing: 1rem;    
    color:white;
    font-family: 'Poppins',sans-serif;
    font-size:2rem;
}
.h4ctitle{
    height:10rem;
    width:auto;
    margin-right: 2rem;
}



/* buttons, countdown and logo */
.tlink{
    padding:0;
    margin:0;
}
.tlink a{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    z-index: 9;
}
.tlink a:hover{
    color:white;
}
.tlink img{
    /* display:flex; */
    /* align-items: center; */
    height:25px;
}

/* making a flexbox for arranging countdown and 
   links one side , and logo on the other. */
.flexbox1{
    display:flex;
    /* padding:2rem; */
    /* align-items: center; */
    justify-content:center;
}
.title{
    display:flex;
    flex-direction: column;
    align-items: baseline;
}
.links{
    list-style-type: none;
    padding:0;
    margin:0;
}
.links li{
    text-align: center;
    width:fit-content;
    margin:1rem;
    border:2px solid #EB1616;
    border-radius:5rem;
    padding:0.5rem;
}
.links li a{
    padding:0.5rem;
    color:white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.links li:hover{
    color:#ffeded;
    background-color:#EB1616;
}
.h4cdesk{
    height:20rem;
    width:auto;
    transform: rotate(-23.03deg);
    /* margin-left:10rem; */
}
/*removing the mobile div of h4c logo */
.h4cmob{
    display:none;
}
/* removing mobile div of timer */
.timer-mob{
    display:none;
}
/* styling and positioning of timer in desktop */
.timer-desk{
    margin-left:2rem;
    margin-bottom:2rem;
    /* margin-top:2rem; */
    font-size:2rem;
    color:#ffeded;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
}
.timer-desk th{
    text-align: left;
    padding-right:1.5rem;   
}
.timer-desk td{
    padding-right:1.5rem;
    font-family: monospace;
}
/* styling navbar icons */
.home{
    height:35px;
    width:auto;
    margin:1rem;
    padding:0;
}

/* atyling about us section */
#about-us{
    height:auto;
    /* background-color:#212121; */
    /* background:url('../images/spark4.jpeg');
    background-repeat:no-repeat;
    background-size: cover; */
}
.contact{
    background:url('../images/spark2.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
}


.main-heading{
    margin-top:2rem;
    color:#fafafa;
    font-size: 4rem;
    /* border-top:2px solid white;
    border-bottom:2px solid white; */
    /* padding:2rem; */
    /* width:100%; */
    /* text-align:center; */
}
.info{
    margin:2rem;
    padding:2rem;
    max-width:50rem;
    color:#ffeded;
    text-align: justify;
    line-height: 2rem;
    font-family: 'Montserrat';
}
.card-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    height:auto;
}

.card{
    background-color:#131212;
    /* border:1px solid #212121; */
    box-shadow:5px 5px #212121;
    color:rgb(161, 159, 159);
    font-family: 'Montserrat';
    margin:2rem;
    width:30rem;
    height:15rem;
    transition:0.3s all ease;
    padding:2rem;
    border-radius:2rem;
    transform: translateY(150px);
    opacity:0;
    text-align:justify;
    transition:0.3s all ease-in-out;
}

.card:hover{
    /* border:none; */
    /* box-shadow: none; */
    opacity:1;
}

.card-head{
    font-size: 28px;
    text-align: center;
    color:#FFEDED;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* letter-spacing: 0.6rem; */
}
.active1{
    position:relative;
    transform: translateY(0px);
    opacity:1;

}



/* sponsors section styling */

.sponsors .wrapper{
    background:url('../images/sponsor-bg.png');
    animation: bg 10s linear infinite;
    height:100vh;
}
@keyframes bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 500px 0;
    }
  }




/* contact us styling */
.contact .wrapper{
    height:100vh;
}
.contact .main-heading{
    display:none;
}

.logos{
    display:flex;
    flex-direction: row;
    /* margin-top:2rem; */
}
.logo{
    margin:2rem;
}
.con-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    font-size:small;
    /* padding:2rem; */
    /* margin-top:2rem; */
}
.container{
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding:0;
    /* margin-top:4rem; */
}
.container a{
    text-decoration: none;
    color:#ffeded;
    margin-left:2rem;
    margin-right:2rem;
}
.contact-menu{
    display:menu;
}
.contact-menu li{
    margin:0.5rem;
    list-style-type: none;
}
.contact-menu a{
    text-decoration: none;
    color:#ffeded;
}
.footer{
    /* margin-top:2rem; */
    color:#FFEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top:4rem; */
}
.ssit img{
    margin:2rem;
}
.ssit{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width:300px;
}
.footer-text{
    opacity:75%;
    font-size: 12px;
    margin:2rem;
}